.jumbotron {
  opacity: .75;
  box-shadow: 10px 10px 5px #888888;
  margin: 5px
}

.jumbotron #pizza {
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

body {
  background-image: url("math-chalkboard.jpg");
}
